@charset "UTF-8";

@media screen and (min-width:600px){
    .foto1{
        background-image: url(../imagens/foto1-vertical.JPEG);
    }  

    .foto2{
        background-image: url(../imagens/foto2-vertical.jpg);
    }

    blockquote{
        font-size: 2.5em;
        line-height: 4rem;
        padding: 1.5rem 3rem;
    }
}

@media screen and (min-width:930px){

    .foto2{
        display: flex;
        justify-content: center;
    }

    blockquote{
        font-size: 1.5em;
        padding: 1rem 3rem;
    }

    .citacao{
        font-size: 1em;
    }

    .section_sobre{
        background-color: #fbd68a;
        padding: 80px 300px;
    }

    .titulo_contato{
        display: inline;
        background-color: #fcdaa8e9;
        line-height: 9rem;
    }

}

@media screen and (min-width:650px) and (max-height:820px){
    
    .foto1{
        background-image: url(../imagens/foto1_vertical2.JPEG);  
    }

    .foto2{
        background-image: url(../imagens/foto2_vertical2.JPEG);
        display: flex;
        justify-content: center;
    }

    .foto3{
        background-image: url(../imagens/paginainicial.JPEG);

    blockquote{
        height: 20vh;
    }

    .citacao{
        font-size: 0.6em; 
        padding: 0px 1rem;
    }

    .texto_sobre{
        text-align: justify;
    }
}

@media screen and (min-width:1200px) and (min-height: 900px){

    .foto1{
        background-image: url(../imagens/foto1_vertical2.JPEG);  
    }

    .foto2{
        background-image: url(../imagens/foto2_vertical2.JPEG);
        display: flex;
        justify-content: center;
    }

    .foto3{
        background-image: url(../imagens/paginainicial.JPEG);

    blockquote{
        height: 20vh;
    }

    .citacao{
        font-size: 0.6em; 
        padding: 0px 1rem;
    }

    .texto_sobre{
        text-align: justify;
    }
}