@charset "UTF-8";

/* typical device breakpoints
pequenas telas: ate 600px
celular: 600px ate 768px
tablet:768px até 992px
desktop: 992ps ate 1200px
grandes telas: acima de 1200px
*/

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100vw;
}

#nome{
    font-family: Gloria Hallelujah;;
}

header{
    width: 100vw;
}
nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.direita{
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

.video{
    width: 100vw;
    height: 50vh;
    position: relative;
}

iframe{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}