@charset "UTF-8";

/* typical device breakpoints
pequenas telas: ate 600px
celular: 600px ate 768px
tablet:768px até 992px
desktop: 992ps ate 1200px
grandes telas: acima de 1200px
*/

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gloria+Hallelujah&display=swap');


.fraunces-<uniquifier> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 500vh;
    max-width: 768px;
    font-family: "Fraunces", serif;
    color: #1e0d0e;
}

#nome{
    font-weight: 600;

}

header{
    width: 100vw;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

a{
    text-decoration: none;
    color: #1e0d0e;
}

.foto{
    background-image: url(../imagens/Nakao-97\ 2.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.esquerda{
    margin-left: 15px ;
}

.direita{
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

.video{
    width: 100vw;
    height: 50vh;
    position: relative;
}

iframe{
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}